<ion-header [translucent]="false">
  <header class="flex p-4 items-center justify-between" style="display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px;">
    <div class="flex items-center" style="display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;">
      <img src="../../assets/patient-1.png" width="50px" />
      <h3 class="text-sm m-0 ml-2" style="padding-left: 5px;">
        <span class="text-xs">Welcome</span>,
        <span><b> {{ActiveUser?.name}}</b></span>
      </h3>
    </div>
    <!-- <div>
      <ion-icon class="text-lg" name="notifications-outline"></ion-icon>
    </div> -->
  </header>
  <ion-toolbar>
    <ion-title>
      Fisherman List
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper-grad">
    <div *ngFor="let i of docksid; let in=index">
      <div style="box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
      margin: 8% 0%;
      padding: 5%;">
        <p>Name: {{i.name}}</p>
        <p>Mobile: {{i.contactNum}}</p>
        <p>Address: {{i.address}}</p>
        <p>DOB: {{i.dob}}</p>
      </div> 
    <div>
        
      </div>
    </div>
  </div>

</ion-content>